@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
.margin-form {
  margin: 5em 0em;
}
.margin-form .color {
  color: aliceblue;
}

.container-fluid form button {
  background-color: #b193a2;
}

figure {
  display: flex;
  justify-content: center;
}
figure .img-center {
  height: 34em;
  width: 70%;
  border-radius: 1em;
  margin-bottom: 1em;
}
@media screen and (max-width: 768px) {
  figure .img-center {
    height: 23em;
  }
}

.conteiner-mix {
  text-align: center;
}
.conteiner-mix .title {
  text-align: center;
  margin: 1.5em 0em;
  color: aliceblue;
}
.conteiner-mix .title h1, .conteiner-mix .title h2 {
  font-size: 2em;
  font-weight: 600;
}

.mix-pic {
  width: 70%;
  height: 34em;
}
@media screen and (max-width: 992px) {
  .mix-pic {
    height: 25em;
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .mix-pic {
    height: 15em;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #0d161d;
  font-size: 19px;
}

.title {
  text-align: center;
  margin: 5em 0em 3.5em;
  color: aliceblue;
}
.title h1, .title h2 {
  font-size: 2em;
  font-weight: 600;
}

.grid-mq-mp3 {
  grid-area: mp3;
}

.grid-mq-wav {
  grid-area: wav;
}

.grid-mq-exc {
  grid-area: exc;
}

.top {
  background-color: #16222b;
}
.top ul {
  height: 3em;
  padding: 0%;
  margin: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  list-style-type: none;
}
.top ul li:hover {
  border-bottom: solid #b193a2;
  margin-bottom: 0%;
}
.top ul a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 576px) {
  .top ul a {
    font-size: 14px;
  }
}

.grid-sk {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}
@media screen and (max-width: 992px) {
  .grid-sk {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}
@media screen and (max-width: 768px) {
  .grid-sk {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}
@media screen and (max-width: 576px) {
  .grid-sk {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
.grid-sk .caja-sk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0d161d;
  color: aliceblue;
  padding: 0.5em;
  margin: 1em;
}
.grid-sk .caja-sk .img-sk {
  height: 10em;
  width: 80%;
  grid-area: img;
  margin: auto;
}
.grid-sk .caja-sk h2, .grid-sk .caja-sk h3 {
  font-size: 1.2em;
  font-weight: 600;
}

.conteiner-tracks {
  border-bottom: solid #b193a2;
  background-color: #0d161d;
  color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.4em;
}
.conteiner-tracks p {
  border: solid rgb(205, 158, 186) 1.5px;
  border-radius: 0.5em;
  padding: 5px;
  margin: 0.5em 0em;
}
@media screen and (max-width: 768px) {
  .conteiner-tracks p {
    display: none;
  }
}
.conteiner-tracks .icon-tracks {
  background-color: #b193a2;
  border-radius: 0.5em;
  padding: 5px;
  margin: 0.5em 0em;
}
@media screen and (max-width: 576px) {
  .conteiner-tracks .icon-tracks {
    display: none;
  }
}

.margin-tracks {
  margin: 2em 0em;
}

.licencias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0.5em;
}
@media screen and (max-width: 992px) {
  .licencias {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "mp3" "wav" "exc";
    width: 80%;
    margin: auto;
  }
}
.licencias .conteiner-licensing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.licencias .conteiner-licensing dl {
  background-color: #16222b;
  height: 20em;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
  text-align: center;
  margin: 1em;
}
@media screen and (max-width: 576px) {
  .licencias .conteiner-licensing dl {
    overflow: hidden;
    margin: 0em;
    margin-bottom: 2em;
  }
}
.licencias .conteiner-licensing dl dd, .licencias .conteiner-licensing dl dt {
  color: #b193a2;
}
.licencias .conteiner-licensing dl .name-lease, .licencias .conteiner-licensing dl dt {
  margin-bottom: 1.5em;
  font-size: 23px;
}

footer {
  background-color: #16222b;
  padding: 2em;
  margin-top: 1em;
  margin-bottom: 0em;
}
footer footer div, footer h5, footer p {
  color: aliceblue;
}

/*# sourceMappingURL=style.css.map */
