@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;900&display=swap");
.margin-form {
  margin: 5em 0em;
}
.margin-form .color {
  color: aliceblue;
}

.container-fluid form button {
  background-color: #856593;
}

.conteiner-mix {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 576px) {
  .conteiner-mix {
    height: auto;
  }
}
@media screen and (max-width: 992px) {
  .conteiner-mix {
    height: auto;
  }
}
.conteiner-mix video {
  width: 100%;
}
.conteiner-mix .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.conteiner-mix .content h3, .conteiner-mix .content h1, .conteiner-mix .content h2 {
  color: rgb(255, 255, 255);
  font-size: 3em;
  font-weight: 500;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .conteiner-mix .content h3, .conteiner-mix .content h1, .conteiner-mix .content h2 {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 768px) {
  .conteiner-mix .content h3, .conteiner-mix .content h1, .conteiner-mix .content h2 {
    font-size: 1.2em;
  }
}
.conteiner-mix .content .compra-dos {
  width: 30%;
  border: solid;
  border-radius: 30px;
  text-align: center;
  padding: 5px;
  color: aliceblue;
}
.conteiner-mix .content .compra-dos h5 {
  font-size: 10px;
}
@media screen and (max-width: 768px) {
  .conteiner-mix .content .compra-dos h5 {
    font-size: 2px;
  }
}
.conteiner-mix .content .compra-dos:hover {
  background-color: #856593;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #030c14;
  font-size: 19px;
  font-weight: 100;
}

.title {
  text-align: center;
  color: aliceblue;
}
.title h1 {
  font-size: 2.5em;
  font-weight: 600;
}
.title h2 {
  font-size: 2em;
}

.grid-mq-mp3 {
  grid-area: mp3;
}

.grid-mq-wav {
  grid-area: wav;
}

.grid-mq-exc {
  grid-area: exc;
}

.top {
  background-color: #000000;
}
.top ul {
  height: 3em;
  padding: 0%;
  margin: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  list-style-type: none;
}
.top ul li:hover {
  border-bottom: solid #856593;
  margin-bottom: 0%;
}
.top ul a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 576px) {
  .top ul a {
    font-size: 14px;
  }
}

.grid-sk {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}
@media screen and (max-width: 992px) {
  .grid-sk {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}
@media screen and (max-width: 768px) {
  .grid-sk {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}
@media screen and (max-width: 576px) {
  .grid-sk {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
.grid-sk .caja-sk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  padding: 0.5em;
  margin: 1em;
}
.grid-sk .caja-sk .img-sk {
  height: 10em;
  width: 80%;
  border-radius: 10%;
  grid-area: img;
  margin: auto;
}
@media screen and (max-width: 576px) {
  .grid-sk .caja-sk .img-sk {
    width: 12em;
  }
}
.grid-sk .caja-sk h2, .grid-sk .caja-sk h3 {
  font-size: 1em;
  font-weight: 0;
}

.kit-promotion {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: start;
  gap: 6em;
  padding: 0em 1.5em;
  margin: 7em 0em;
  color: aliceblue;
}
@media screen and (max-width: 992px) {
  .kit-promotion {
    flex-direction: column;
    gap: 1em;
    text-align: center;
  }
}
.kit-promotion .compra {
  border: solid;
  border-radius: 30px;
  text-align: center;
  padding: 5px;
}
.kit-promotion .compra h5 {
  font-size: 20px;
}
.kit-promotion img {
  height: 28em;
  width: 25em;
  border-radius: 25px;
}
@media screen and (max-width: 616px) {
  .kit-promotion img {
    height: 18em;
    width: 15em;
  }
}
.kit-promotion h3 {
  font-size: 50px;
  font-weight: 600;
}
.kit-promotion h4 {
  font-size: 45px;
  font-weight: 500;
}

.title-tracks {
  text-align: center;
  color: aliceblue;
  font-size: 2.5em;
  font-weight: 600;
  margin: 1em;
}

.tracks-top {
  background-image: url(../img/background-top\ .jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 22em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.conteiner-tracks {
  border-bottom: solid 1.5px #856593;
  background-color: #030c14;
  color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.4em;
}
.conteiner-tracks p {
  border: solid 1.5px #856593;
  width: 7.7em;
  text-align: center;
  border-radius: 0.5em;
  padding: 5px;
  margin: 0.5em 0em;
}
@media screen and (max-width: 768px) {
  .conteiner-tracks p {
    display: none;
  }
}
.conteiner-tracks .icon-tracks {
  background-color: #856593;
  border-radius: 0.5em;
  padding: 5px;
  margin: 0.5em 0em;
}
@media screen and (max-width: 576px) {
  .conteiner-tracks .icon-tracks {
    display: none;
  }
}

.margin-tracks {
  margin: 2em 0em;
}

.lease-top {
  background-color: #030c14;
  height: 12em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.licencias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0.5em;
}
@media screen and (max-width: 992px) {
  .licencias {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "mp3" "wav" "exc";
    width: 80%;
    margin: auto;
  }
}
.licencias .conteiner-licensing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.licencias .conteiner-licensing dl {
  background-color: #000000;
  height: 20em;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
  text-align: center;
  margin: 1em;
}
@media screen and (max-width: 576px) {
  .licencias .conteiner-licensing dl {
    overflow: hidden;
    margin: 0em;
    margin-bottom: 2em;
  }
}
.licencias .conteiner-licensing dl dd, .licencias .conteiner-licensing dl dt {
  color: #856593;
}
.licencias .conteiner-licensing dl .name-lease, .licencias .conteiner-licensing dl dt {
  margin-bottom: 1.5em;
  font-size: 23px;
}

footer {
  height: 15em;
  background-color: #000000;
  padding: 3em;
  margin-bottom: 0em;
}
@media screen and (max-width: 576px) {
  footer {
    padding: 0;
    margin-top: 2em;
  }
}
footer .texto {
  color: aliceblue;
  text-align: center;
}
footer .texto h6 {
  font-size: 25px;
}
footer .texto p {
  font-size: 15px;
}
footer .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .icons .icon {
  margin: 0em 1em;
  padding: 5px;
  background-color: #856593;
  border-radius: 40%;
}

/*# sourceMappingURL=style.css.map */
