*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: $color-tres;
    font-size: 19px;
}
.title{
    text-align: center;
    margin: 5em 0em 3.5em;
    color: aliceblue;
    h1,h2{
        font-size: 2em;
        font-weight: 600;
    }
}





