.conteiner-mix{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    @include sm{
        height: auto;
    }
    @include tablet{
        height: auto;
    }
    video{
        width: 100%;
    }
    .content{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include flex(column,space-around,center);
            h3,h1,h2 {
                color: rgb(255, 255, 255);
                font-size: 3em;
                font-weight: 500;
                text-align: center;
                @include sm{
                    font-size: 1.5em;
                }
                @include md{
                    font-size: 1.2em;
                }
            }
            .compra-dos{
                width: 30%;
                border: solid;
                border-radius: 30px;
                text-align: center;
                padding: 5px;
                color: aliceblue;
                h5{
                    font-size: 10px;
                    @include md{
                        font-size: 2px;
                    }
                }
            }
            .compra-dos:hover{
                background-color: $color-dos;
            }
    }
}
// .mix-pic{
//     width: 70%;
//     height: 34em;
//         @include tablet{
//         height: 25em;
//         width: 50%;
//         }
//         @include md{
//         height: 15em;
//         }
// }