    @mixin flex ($direction,$justify,$align,){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
    @mixin tablet{
        @media screen and (max-width:992px){
            @content;
        }
} 
    @mixin mobile{
        @media screen and (max-width:616px){
        @content;
        }
} 
@mixin md{
    @media screen and (max-width:768px){
    @content;
    }
} 
@mixin sm{
    @media screen and (max-width:576px){
    @content;
    }
} 
